player-connection-mode=Listen
player-connection-guid=2082163553
player-connection-debug=0
player-connection-project-name=JMA_AGGP225_2021
player-connection-ip=26.152.25.156
player-connection-ip=10.10.3.125
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
